@media (max-width: 1000px) {
  .continerCardsLinks {
    justify-content: center;
  }
}

@media (max-width: 700px) {
  .filtros {
    align-items: center;
    justify-content: center;
  }

  .tituloFiltro {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .tituloFiltro {
    font-size: 35px;
  }
}
