.continerSubFiltro {

  position: absolute;
  width: calc(250px - 0px);
  height: calc(200px - 0px);
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  top: 275px;
  border-radius: 6px;
  border: 1px solid #8F9092;
  color: #606060;
  text-shadow: 0 1px #fff;
  outline: none;
  font-size: 15px;
  font-family: "Trap", sans-serif;
  letter-spacing: 2px;
  line-height: 1.2;
  font-weight: bold;
  overflow: auto;
   
}

.continerSelecaoFiltro {

    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
 
}

.continerSelecaoFiltro:hover {

    background-color: rgb(194, 194, 194);
    color: #000000;
    text-shadow: 0 0px #fff;

}

.checkboxFiltro {
    appearance: none; /* Remove o estilo padrão */
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

  }
  
  .checkboxFiltro:checked {
    background-color: green;
    border-color: green;
  }

   
  .continerSelecaoFiltro:has(.checkboxFiltro:checked) {

    background-color: rgba(18, 18, 18, 0.854);
    color: #ffffff;
    text-shadow: 0 0px #fff;

  }
  
  .checkboxFiltro:checked::after {
    content: "✔";
    color: white;
    font-size: 16px;
  }

  .todos {

    background-color: #bfdbc9;

  }

  .nenhum {

    background-color: #dbbfc4;
    
  }
  
  