@media (max-width: 1200px) {
  .TituloEditor {
    font-size: 40px;
  }
}

@media (max-width: 500px) {
  .escolhaDoEditor {
    padding: 0px;
    margin: 0px 0px 50px 0px;
  }

  .continerPublicacaoEditor {
    padding: 10px;
  }
}
